:root {
    --background: #ffffff;
    --foreground: #171717;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}
